*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-wrap: break-word;
  }
body{
    background-color: #FAFAFA;

    font-family:  'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #262626;

    overflow-x: hidden;
}
button {
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color:#000000;

    background-color: rgba(255,255,255,0);

    border: 0px solid #FFFFFF;
}
button:hover, .story div:hover, .story p:hover, .comments-section .number-comments:hover, ion-icon:hover{
    cursor: pointer;
    
}

header {
    width: 100%;
    height: 54px;
    background-color: #FFFFFF;

    border: 1px solid #DBDBDB;

    display: flex;
    justify-content: center;

    position: fixed;
    top: 0;
    z-index: 5;
}
.container {
    width: 935px;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 100%;

    display: flex;
    align-items: center;
}
.logo ion-icon{
    color: black;
    font-size: 22px;
}
.logo .paper-plane{
    display: none;
}
.spacer {
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
    display: inline;
    margin: 0px 11px 0px 11px ;
}
.search-area{
    width: 215px;
    height: 28px;
    background-color: #FAFAFA;

    text-align: center;

    font-family: 'Roboto', sans-serif;
    color: #DBDBDB;
    font-size: 12px;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;


    border-radius: 3px;
    border: 1px solid #DBDBDB;
}
.button-options{
    display: flex;
    gap: 10px;
}
.button-options ion-icon {
    font-size: 22px;
}
main {
    width: 100%;
    margin-top: 88px;

    display: flex;
    justify-content: center;
}
.main-box{
    width: 614px;
}
.second-box{
    width: 321px;
}
nav {
    width: 614px;
    height: 118px;
    background-color: #FFFFFF;

    padding: 0px 0px 0px 10px;

    border: 1px solid #DBDBDB;
    border-radius: 3px;   

    display: flex;
    align-items: center;
    gap: 15px;

    overflow: hidden;

    position: relative;
}
.button-story{
    position: absolute;
    right: 10px;
    z-index: 4;
    
}
.button-story ion-icon{
    color: #FFFFFF;
    font-size: 30px;
    border-radius: 50%;
    box-shadow: -5px 5px 5px rgba(0,0,0,0.05);
}
.story{
    width: 70px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.story div{
    width: 70px;
    height: 70px;

    margin-bottom: 5px;
    position: relative;
}
.frame{
    width: 100%;
    height: 100%;    
}

.story-photo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 3;
}



.timeline {
    width: 614px;
    margin-top: 24px;
}
.post {
    width: 100%;
    background-color: #FFFFFF;

    border: 1px solid #DBDBDB;
    border-radius: 3px;

    margin-bottom: 40px;

}
.info-post {
    width: 100%;
    height: 61px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile {
    display: flex;
    align-items: center;
    margin-left: 17px;
}
.info-post .profile img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.info-post .profile img:hover {
    cursor: pointer;
}
.profile .name-user{
    font-weight: 500;
    font-size: 14px;
    margin-left: 10px;

    width: 109px;
    height: 21px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.info-post button {
    margin-right: 17px;
    font-size: 20px;
}
.post img {
    width: 100%;
    height: 612px;
}
.post embed {
    width: 100%;
    height: 612px;
}
.options-post {
    margin-top: 10px;
    
    font-size: 20px;

    display: flex;
    justify-content: space-between;
}
.options-post div ion-icon{
    margin-left: 17px;
    font-size: 22px;
}
.options-post .save ion-icon{
    margin-right: 17px;
    font-size: 20px;
}
.like {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 17px;
    margin-top: 13px;
    margin-bottom: 10px;
}
.like p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;

    margin-left: 5px;
}
.like p strong {
    font-weight: 500;
}
.like button img{
    width: 22px;
    height: 20px;
    border-radius: 50%;

}
.comments-section{
    margin-left: 17px;
    font-weight: 400;
    font-size: 14px;
}
.comments-section .name-user{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: inline;
    margin-bottom: 6px;
}
.comments-section .heart{
    font-size: 13px;
}
.comments{
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comments-section .number-comments{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #8E8E8E;
    margin-left: 5px;
    margin-bottom: 7px;
}
.comments-section .time{
    font-size: 12px;
    margin: 5px 0px 0px 0px;
}
.comments-section .horizontal-space{
    width: 96%;
    height: 1px;
    background-color: #C7C7C7;
    margin: 5px 0px 5px 0px;
}
.box-comments{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 96%;
}
.box-comments input{
    width: 80%;
    height: 30px;
    border: 0px solid #DBDBDB;

    font-family:  'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #8E8E8E;
}
.box-comments button{
    background-color: #FFFFFF;
    border-radius: 5px;
    font-size: 17px;
    color: #B2DFFC;
    font-family: 'Roboto', sans-serif;
}
.box-comments button:hover{
    background-color: #0095F6;
    color: #FFFFFF;
    transition: background 300ms;
    transition: color 300ms;
}

aside {
    width: 293px;

    margin-left: 28px;

    position: fixed;
    z-index: 10;
}
.main-suggestion{
    margin-top: 23px;

    display: flex;
    align-items: center;
}
.main-suggestion img {
    width: 56px;
    height: 56px;

    border-radius: 50%;
}
.main-suggestion div {
    width: 182px;

    margin-left: 17px;

    font-size: 14px;
    color: #C7C7C7;
    font-weight: 300;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-suggestion div button{
    font-size: 14px;

    margin: 0px 0px 2px 0px;
}
.horizontal-space{
    width: 100%;

    margin-top: 24px;
    display: flex;
    justify-content: space-between;
 
    font-family:  'Roboto', sans-serif;
    font-size: 12px;
    color: #8E8E8E;
    font-weight: 500;

}
.horizontal-space button{
    font-size: 12px;
}
.suggestion{
    width: 100%;

    margin-top: 17px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-suggestion{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.info-suggestion img {
    width: 32px;
    height: 32px;

    border-radius: 50%;
}
.info-suggestion div{
    margin: 0px 0px 0px 10px;
}
.info-suggestion div button {
    font-size: 14px;

    margin: 0px 0px 3px 0px;
}
.info-suggestion div p {
    font-size: 12px;
    font-weight: 400;
    color: #8E8E8E;
}
.follow {
    font-size: 12px;
    font-weight: 400;
    color: #139EF2;
}
footer{
    width: 100%;

    margin-top: 33px;

    font-family:'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #C7C7C7;

}

.nav-bottom{
    width: 100%;
    height: 54px;
    position: fixed;
    bottom: 0;
    z-index: 10;
    background-color: #FFFFFF;
    display: none;
}
.nav-bottom ion-icon{
    color: black;
    font-size: 20px;
}
@media (max-width: 935px){
    .second-box{
        display: none;
    }   
    main{
        width: 100%;
        justify-content: center;
    }
}
@media (max-width: 614px){
    .logo ion-icon{
        margin: 0px 5px 0px 5px;
    }
    .second-box{
        display: none;
    }   
    main{
        width: 100%;
        justify-content: center;
    }
    .logo{
        width: 100%;
        justify-content: space-between;
    }
    .logo .paper-plane{
        display: inline;
    }
    .search-area{
        display: none;
    }
    .spacer{
        display: none;
    }
    .button-options{
        display: none;
    }
    .button-story{
        display: none;
    }
    nav{
        width: 100%;
        background-color: #E5E5E5;
        border: 0px;
    }
    .frame{
        border-radius: 50%;
    }
    main{
        margin-top: 54px;
    }
    .main-box, .timeline{
        width: 100%;
    }
    .timeline{
        margin-top: 0;
    }
    .nav-bottom{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}






